div .card{
    background-color: rgb(245, 244, 244);
}
.card{
    display: flex;
    flex-direction: column;
    border: solid gray;
    border-radius:10px;
    border-width: 1.5px;
    align-items: center;
    justify-content: center;
    height: 21em;
    width: 19rem;

}
.card img{
    margin-top: 10px;
    object-fit: contain;
    width: 80%;
    height: 60%;
}
.card h1{
    font-family: Staatliches, Arial;
    font-size: 1.2rem;
}

.card p{
    justify-content: center;
    text-align: center;
    text-justify: auto; 
    font-family:Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:5px;
}
.card a{
    text-decoration: none;
    font-family: Roboto;
    color: white;
}

.card button{
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    font-family:Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 6rem;
    border-radius: 1.5rem;
    color:white;
    border:none;
    background-color: rgb(233,90,92);
}
div .card:hover{
    transform: scale(1.03);
    transition: 200ms ease-in;
}
.card button:hover{
    transform: scale(1.1);
    transition: 200ms ease-in;
}
