.card{
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius:10px;
    border-width: 1.5px;
    align-items: center;
    justify-items: center;
    height: 20rem;
    width: 18rem;
    margin: 0%;
}
.card h1{

    font-family: Staatliches, Arial;
    font-size: 1.5rem;
}
.card img{
    object-fit: contain;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 70%;
    height: 50%;
}
.card p{
    justify-content: center;
    text-align: center;
    text-justify: auto; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card button{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 6rem;
    border-radius: 1.5rem;
    color:white;
    border:none;
    background-color: rgb(233,90,92);
}