.counter{
    display: flex;
    flex-direction: row;
}

.counter button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    height: 1rem;
    width: 2rem;
    border-radius: 1.5rem;
    color:white;
    border:none;
    background-color: rgb(233,90,92);
}
.counter span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  
}
