.navbar{
    font-family: Roboto;
    height:4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
}

.navbar img{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.navbar ul{
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.navbar li{
    margin:2rem;
    font-family: Staatliches;
}

.navbar li:hover{
    transform: scale(1.1);
    transition: 100ms ease-in; 
}

.log-cart{
    display: flex;
    flex-direction:row;
}
.log-cart span{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.log-cart span:hover{
    transform: scale(1.1);
    transition: 100ms ease-in; 
}