.navbar{
    font-family: roboto;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
}
.navbar a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar img{
    margin:2rem;
}
.navbar ul{

    list-style:none;
    display: flex;
    flex-direction: row;
    margin: auto;
}
.navbar li{
    margin:2rem;
    font-family: Staatliches;
}
.navbar span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 5rem;
    height: 2rem;
    background-color: #dc3545;
    font-family: Staatliches;
    border-radius: 0.2rem;
}