.navbar{
    font-family: roboto;
    height: 5rem;
   /* display:grid;
    gap:1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
}

.navbar img{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-left: 1rem;
}
.navbar ul{

    list-style:none;
    display: flex;
    flex-direction: row;
    margin: auto;
}
.navbar li{
    margin:2rem;
    font-family: Staatliches;
}
.navbar span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  
}
.navbar button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    height: 2rem;
    width: 6rem;
    border-radius: 1.5rem;
    color:white;
    border:none;
    background-color: rgb(233,90,92);
}