.container{
    width: 1184px;
    margin:80px auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 15px;
    border-color: whitesmoke;
    font-family: Staatliches;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
}

figure{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:space-around;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 10px;
    width: 500px;
    border:solid gainsboro;
    border-width:0.5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
}

.info h1{
    margin: 0 auto;
    padding:5px; 
}
.info p{
    font-family: Roboto;
    font-size: 2.5vh;
    margin: 0 auto;
    text-justify: distribute;
    padding-left: 12px;
}

.info h2{
    font-family: Roboto;
    font-size: 2vh;
    padding-left: 12px;
}
.comprar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
}
.comprar button{
    cursor: pointer;
    text-decoration: none;
    font-family: Staatliches;
    color: rgb(8, 7, 7);
    margin: 0;
    font-size:13px;
    border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color:gainsboro;
    background-color: rgb(233,90,92);
	height: 2.5rem;
    width: 6rem;
	margin: 20px;
}

.comprar button:hover{
	transform: scale(1.05);
	transition: 100ms ease-out;
}
.counter{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    
}