.container{
    margin:15px;
    display: flex;
    flex-direction: row;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 15px;
    border-color: whitesmoke;
    font-family: Staatliches;
}

.image-container{
    width: 50vw;
}
figure{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:space-around;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin:0;
    height: 500px;
    width: 50%;
    border:solid;
    border-width:0.5px;
    border-radius: 5px;
}

.info h1{
    margin: 0 auto;
    padding:5px; 
}
.info p{
    font-family: Roboto;
    font-size: 2.5vh;
    margin: 0 auto;
    padding:10px; 
}
.info span{
    font-family: Roboto;
    font-size: 2vh;
    padding:5px; 
}
.info h2{
    font-family: Roboto;
    font-size: 2vh;
    padding:5px; 
}
.info div{
    display: flex;
    flex-direction: row;

}